export DEPLOY_USER=[INSERT USER TO RUN APP]
export DEPLOY_GROUP=[INSERT GROUP TO RUN APP]
export OSS_BUCKET_NAME=[INSERT YOUR BUCKET NAME]
export OSS_IMAGE_BUCKET_NAME=[INSERT YOUR IMAGE BUCKET NAME]
export OSS_USE_S3_STATIC_HOSTING=1
export OSS_REGION=[INSERT REGION]
export OSS_SQS_URL=[INSERT SQS URL]
export OSS_CDN_BASE_URL=[INSERT CDN BASE URL]
export OSS_AWS_ACCESS_ID=[INSERT YOUR AWS ACCESS ID IF YOU RUN APP ON NOT-AWS]
export OSS_AWS_SECRET_KEY=[INSERT YOUR AWS SECRET KEY IF YOU RUN APP ON NOT-AWS]
