{
  "run_list": [
    "recipe[apt]",
    "recipe[phpenv::default]",
    "recipe[phpenv::composer]",
    "recipe[phpenv::develop]",
    "recipe[appenv::default]",
    "recipe[appenv::worker]"
  ],
  "nginx": {
    "docroot": {
      "owner": "##DEPLOY_USER##",
      "group": "##DEPLOY_GROUP##",
      "path": "/var/www/application/current/app/webroot",
      "force_create": true
    },
    "default": {
      "fastcgi_params": {  "OSS_CAKE_ENV": "production" }
    },
    "test": {
      "available": true,
      "fastcgi_params": {  "OSS_CAKE_ENV": "test" }
    }
  },
  "mysql": {
    "accept_connection_from_outside": false,
    "app_database_name": "openslideshare",
    "app_database_user": "webapp",
    "app_database_password": "passw0rd"
  },
  "appenv": {
    "OSS_BATCH_USER": "##DEPLOY_USER##",
    "OSS_RDS_HOSTNAME": "localhost",
    "OSS_RDS_USERNAME": "webapp",
    "OSS_RDS_PASSWORD": "passw0rd",
    "OSS_RDS_DB_NAME": "openslideshare",
    "OSS_AWS_ACCESS_ID": "##OSS_AWS_ACCESS_ID##",
    "OSS_AWS_SECRET_KEY": "##OSS_AWS_SECRET_KEY##",
    "OSS_BUCKET_NAME": "##OSS_BUCKET_NAME##",
    "OSS_IMAGE_BUCKET_NAME": "##OSS_IMAGE_BUCKET_NAME##",
    "OSS_USE_S3_STATIC_HOSTING": "##OSS_USE_S3_STATIC_HOSTING##",
    "OSS_CDN_BASE_URL": "##OSS_CDN_BASE_URL##",
    "OSS_REGION": "##OSS_REGION##",
    "OSS_SQS_URL": "##OSS_SQS_URL##",
    "OSS_DEBUG": "0"
  }
}
